.currency {
    font-size: 80%;
    vertical-align: 3px;
}
.detalheProduto {
    /* height: 40px; */
    padding: 5px 0 0 0;
    overflow: hidden;
}

.imagemProduto {
    height: auto!important;
}

.btn {
    background-color: #8c8a8b;
    color: #ffffff;
    font-weight: 600;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 0.8em;
    text-decoration: none;



}

.btn:hover {
    background-color: #ffffff !important;
    color: #8c8a8b;
}

.preco{
    font-family: 'Niconne', 'Times New Roman', 'georgia', 'serif';
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding-right: 5px;
}

.produtos{
    margin: 0 auto;
    width: 50%;
}

.item {

    float: left;
    width: 100px; 
    height: 360px;
    margin: 10px 20px;

}

.itemDetalhe {

    width: 100px; 
    height: 250px;
    margin: 10px 20px;

}

.clear {
    clear: both;
}


.TopMenu {
    background: #ffffff none repeat scroll 0 0;
    color: #505050;
    border-bottom: 1px solid #e2e2e2;

}

.TopMenu a {
    color: #8c8a8b;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
 //   padding: 0 0.8em;
    text-decoration: none;
}


.TopMenu a:hover {
    color: #000000;
}

.detalheProduto a {
    color: #8c8a8b;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    padding: 0 0.8em;
    text-decoration: none;
}


.detalheProduto a:hover {
    color: #000000;
}

.rodape {
    clear: both;
    background: #ffffff none repeat scroll 0 0;
    position:fixed;
    bottom:0;
    width: 100%;
    height: 80px;
}

.detalhe{

    width: 100px; 
    height: 360px;
    margin: 10px 20px;

}

.item_sacola{
    color: #8c8a8b;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}